[submodule "tools/MCPVots"]
	path = tools/MCPVots
	url = https://github.com/kabrony/MCPVots.git
[submodule "tools/mcp-chrome"]
	path = tools/mcp-chrome
	url = https://github.com/kabrony/mcp-chrome.git
[submodule "tools/Pake"]
	path = tools/Pake
	url = https://github.com/kabrony/Pake.git
